body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 2%;
    max-width: 1400px;
}

h1{
    font-size: 22px;
}

h2{
    font-size: 16px;
    font-weight:bold;
}

h3{
    font-size:18px;
}


                    /* HEADER */

nav{
    align-items :center;
    display:flex;
    justify-content: space-between;
    margin-bottom: 4%;
}


ul{
    list-style: none;
    display:flex;
    justify-content: flex-end;
    gap: 15%;
}

a{
    text-decoration: none;
}

a:active{
    color: blue
}

a:visited {
    color:black;
}

header a{
    padding-top: 16px;
}

header ul a:hover{
    color: #0065FC;
    border-top: 1px solid blue;
}

i{
    padding: 0px 5px}


                    /* SECTION 1 " RECHERCHE" */

#locdot{
    background-color: #f2f2f2;
    padding: 14px 10px;
    border-radius: 25% 0 0 25%;
}

#searchfield{
    padding: 8px;
    display: flex;
}

#searchtext {
    border-left: none;
    border-right: none;
    border-radius: 0%;
    border-top: 0.3px solid lightgrey; 
    border-bottom: 0.3px solid lightgrey;
    
}

#rechercher{
    background-color: #0065FC;
    padding: 8px;
    border: none;
    border-radius: 0 8px 8px 0;
    color: white;
    cursor:pointer;
}

#rechercher:hover{
    background-color: #003bfc;
    text-decoration:dashed;
    font-size: 14.5px;
}

#filterbar {
    margin: 16px 0px;
    display: flex;
    flex-direction: row;
}



#filterbar button{
    padding: 8px 8px;
    margin: 8px 12px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 25px;
    text-decoration: none;
}

#filterbar button:hover {
    background-color: #DEEBFF;
}


#filterbar i{
    color:#0065FC;
    padding-right: 5px;
}


#infos i{
    color:#0065FC;
    border: 1px solid lightgrey;
    border-radius: 50%;
    margin-right: 8px;
    padding: 10px;
}

                    /* SECTION 1 " RECHERCHE" */

#offers{
    display:flex;
    flex-direction: row;
     
}


#Hebergements{
    width: 72%;
    background-color: #f2f2f2;
    border-radius: 5%;
    padding: 0% 1% 2% 2%;
}

#hebergements-Marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    font-size: 0.5rem;
    width: 28%;
    padding :1%;
    margin: 0.5%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5%;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 2px lightgrey;
}
.card:hover{
    transform: scale(1.01);
    border:  3px inset #0065FC ;
    transition:.2s ease-in-out;
    cursor: pointer;
}

.card img{
    height:100px;
    width:100%;
    align-self: center;
    border-radius: 5% 5% 0% 0%;
    object-fit:cover
}

#popular{
    width: 420px;
    padding: 0% 2% 0% 2%;
    margin: 0 2%;
    background-color: #f2f2f2;
    border-radius: 5%;
}

.pop-card{
    display:flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 24px;
}

#popular img{
    padding: 3%;
    height: 100px;
    width:35%;
    border-radius: 16px;
    object-fit:cover;
}

.pop-card:hover{
    box-shadow: #0065FC 2px 1px 2px ;
    transition:.2s ease-in-out;
    background-color: #0065FC;
    color: white;
}

.pop-card:hover{
    cursor: pointer;
}

.pop-description{
    display: flex;
    flex-direction: column;
    
}
                    /* SECTION 3 "ACTIVITES" */


#cards{
    
    display:flex;
    flex-direction: row; 
}

#Activites-Marseille{
    padding: 3% 2%;
}

.activites-cards{
    width:22%;
    height: 320px;
    margin:2%;
    padding-bottom: 8px;
    box-shadow: 1px 2px 2px lightgrey;
    border-radius: 5%
}

.activites-cards:hover{
    border: 3px groove grey;
    transition:.2s ease-in-out;
    cursor: pointer;
}

.activites-cards img{
    height:280px;
    width: 100%;
    object-fit:cover;
    border-radius: 5% 5% 0 0 ;
}
                    /* FOOTER */

footer {

    background-color: #f2f2f2;
    margin-top: 4%;
    display:flex;
    flex-direction: row;
    align-content: space-between;
    
}

.footer-list{
    margin: 5%;
    width: 35%;
    display: flex;
    flex-direction: column;
}