

body{
    overflow-x: hidden;
    margin:5% 0% 0% 0%;
    padding: 0%;
}

                    /* HEADER */
nav{
    display: flex;
    flex-direction: column;
}

header ul{
    margin-top:5%;
    width: 100%;
    padding:0%;
    gap:0%;
}


header li{
    width:100%;
    display: flex;
    justify-content:center;

}

header a{
    text-decoration: none;
    padding-top: 0%;

}

header li a{
    color:black;
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
    border-bottom: 4px solid #F2F2F2
}

header li a:hover{
    padding: 0%;


    padding-bottom: 0%;
}




                    /* SECTION 1 */

#searchbar{
padding-left:2vw;
}

#searchfield{
    justify-content: center;
    margin: 10% 0%;
}

#research{
    display: none;
}

#magnifying-glass{
    display: flex;
    font-size: 22px;
    align-items: center;
    background-color: #0065FC;
    border-radius: 0px 16px 16px 0px;
    padding:0% 2%; 
    color:white;
    border:none;
}

#magnifying-glass:hover{
    cursor:pointer;
}
#filterbar{
    display: flex;
    flex-direction: column;
}

.filter-buttons{
    flex-wrap: wrap;
    justify-content: center;
}

#filterbar .button{
    width:30%;
    margin:2% 5%;
    padding: 3%;
    font-size: 13px;
    font-weight: bold;
}
#filterbar h2{
    align-self: flex-start;
}



                    /* SECTION 2 */

#offers{
    display: flex;
    flex-direction: column-reverse;
}             

#popular-cards{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#popular{
    border-radius:0%;
    width: 97%;
    margin: 0%;
    padding: 2%; 
}
.pop-card{
    height:145px;
    width:95%;
    
}

.pop-description{
    width:60vw;
    margin:0%;
}

#Hebergements{
    background-color: white;
    width:96%;
    padding:2%;
    margin: 0%;

}




#hebergements-Marseille{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card{
    width:95%;
    height:200px;
}

.card img{
    height:130px;
    object-fit:cover;
}

                    /* SECTION 3 */

#activities{
    width:96%;
    padding:2%
}

#cards{
    display:flex;
    flex-direction: column; 
    justify-content: space-between;
    gap:24px;
    }

.activites-cards{
    width: 97%;
    height: 200px;
    }

#activities h3{
    padding-top:2%;
    }

#activities img{
    height:150px;
}
                    
                    /* FOOTER */

footer {
    width: 100%;
    padding:8% 5%;
    flex-direction: column;
}

.footer-list{ 
    width: 90%;
    margin:3%;
}

footer li{
    padding-top:0%;

}

footer h2{
    margin: 0%;

}