                    /* HEADER */

header ul a:hover{
    color: #0065FC;
    border-top: none;
    border-bottom: 4px solid #0065FC;
    padding-bottom: 16px;
}

                    /* SECTION 1 */
#filterbar h2{
    margin-right:2%;
}
#filterbar .button{
    padding:1.5% 1.5%;
    margin: 1% 0.9%;
}


.filter-buttons{
    display:flex;
    flex-wrap: wrap;
}

                    /* SECTION 2 */

#offers{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#offers-main{
    width: 100vw;
    padding: 2%;
}

#more{
    padding-bottom:1%
}

#popular{
    padding:2% 2% 0% 2%;
    margin-left: 0%;
    width: 100vw;
}

#popular-cards{
    display: flex;
    justify-content: space-between;
}

.pop-card{
    height:80%;
    width:32%;

}

.pop-card img{
    height:90%
}

h3{
    font-size: 14px;
}

p{
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.notation i{
    padding:0%;
    font-size: 12px;
}

                    /* SECTION 3 */
.activites-cards{
    align-self: center;
    width:22%;
    height:280px;
}

#activities h3{
padding-top: 5%;
padding-bottom: 5%;
}

#cards img{
    height:230px;
}      
                    /* FOOTER */