body {
    margin:32px 32px 0px 32px;
}


                    /* FONT SIZES & SETTINGS */

p, .notation i{
    font-size: 12px;
}


                    /* HEADER */

header ul a:hover{
    border-top: none;
    border-bottom: 2px solid #0065FC;
    padding-bottom: 16px;
}

                    /* SECTION 1 */


                    /* SECTION 2 "HEBERGEMENTS" & SECTION 3 "POPULAIRES"*/

#offers{
    flex-wrap: wrap;
}

            /* Section 2 */

#Marseille-section, #popular-section{
    width: 100%;
    margin-left: 0;
}


            /* Section 3 */

#offers-popular{
    flex-direction: row;
    justify-content: space-between;
}

.popular-card{
    width:32%;
    padding: 6px;
}

#popular-section img{
    width:90px;
    height:100%;
}
                    /* SECTION 4 "ACTIVITES" */


.activity-card{
    width:22%;
}

.activity-card img{
    height:210px;
}


                    /* FOOTER */


