body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 2%;
    max-width: 1400px;
}

h1{
    font-size: 22px;
}

.subtitle{
    font-size: 16px;
    font-weight: normal;
}

h2{
    font-size:22px;
    font-weight: bold;
}

#filterbar h2{
    font-size: 18px;
}
footer h2{
    font-size: 18px;
    margin-bottom: 0.5%;
}

h3{
    font-size:18px;
    margin:0%;
    padding:0%
}


p{
    margin:0%;
    padding:0%
}


section {
    margin-bottom:4%;
}



                    /* HEADER */

nav{
    align-items :center;
    display:flex;
    justify-content: space-between;
    margin-bottom: 4%;
}

#logo{
    height: 32px; 
}


nav ul{
    list-style: none;
    display:flex;
    justify-content: flex-end;
    gap: 15%;
}


a{
    text-decoration: none;
}

a:active{
    color: blue
}

a:visited {
    color:black;
}

header a{
    padding-top: 16px;
}

header ul a:hover{
    color: #0065FC;
    border-top: 2px solid blue;
    padding-top: 32px;
}




                    /* SECTION 1 " RECHERCHE" */

#locdot{
    background-color: #f2f2f2;
    font-size:22px;
    padding: 20px 15px;
    border-radius: 25% 0 0 25%;
}

#searchfield{
    margin: 4% 0%;
    display: flex;
}

#searchtext {
    border-left: none;
    border-right: none;
    border-radius: 0%;
    border-top: 0.3px solid #f2f2f2; 
    border-bottom: 0.3px solid #f2f2f2;
    padding:1% 5% 1% 1%;
}

::placeholder{
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5%
}

input:focus{
    outline:none;
}

#research{
    background-color: #0065FC;
    font-size:18px;
    padding-right: 2%;
    padding-left: 2%; 
    border: none;
    border-radius: 0 16px 16px 0;
    color: white;
    cursor:pointer;

}

#research:hover{
    background-color: #003bfc;
    font-size: 18px;
}

#magnifying-glass{
    display: none;
}

#filterbar {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    align-items: center
}

.filter-buttons{
    width:100%;
    display: flex;
    flex-direction: row;
}

#filterbar .button{
    font-size: 17px;
    margin: 1% 1.5%;
    padding:1% 5%;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 25px;
    text-decoration: none;
}

#filterbar .button:hover {
    background-color: #DEEBFF;
}


#filterbar i{
    color:#0065FC;
    padding-right: 14px;
}

#filterbar a{
    font-size: 17px;
}


#info i{
    color:#0065FC;
    border: 1px solid lightgrey;
    border-radius: 50%;
    margin-right: 8px;
    padding: 10px 8px;
}

#info{
    margin-top: 2%;
}

                    /* SECTION 2 " OFFRES" */
.section-title{
    padding-top:2px;
    font-size: 22px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#popular-cards{
    height:90%;
}

#offers{
    display:flex;
    flex-direction: row;
}


#Hebergements{
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding: 0% 1% 1% 1%;
}

#hebergements-Marseille {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
}

.card{
    width: 29%;
    height: 176px;
    margin-top: 1%;
    padding: 0.8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 1px 2px 2px lightgrey;
}


.card:hover{
    border:  3px inset #0065FC ;
    transition:.2s ease-in-out;
    cursor: pointer;
}

.card img{
    height:100px;
    width:100%;
    align-self: center;
    border-radius: 16px 16px 0% 0%;
    object-fit:cover
}

#Hebergements a{
    display: block;
    margin: 2% 0% 0% 1%;
}

#popular{
    width: 30%;
    padding: 0% 2%;
    margin-left:2%;
    background-color: #f2f2f2;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section-title i{
    color:#0065FC
}

#popular a{
    display:inline-flex
}

.pop-card{
    height:28%;
    display:flex;
    flex-direction: row;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 24px;
}

#popular img{
    padding: 2%;
    height: 90%;
    width: 100px;
    border-radius: 16px 0px 0px 16px;
    object-fit: cover;
    align-self: center;
}


.pop-card:hover {
    box-shadow: #0065FC 2px 1px 2px ;
    transition:1s ease-in-out;
    background-color: #0065FC;
    cursor: pointer;
}



.pop-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5%;
    }

.notation{
    display:flex;
}

.notation i{
    padding:0%;
}

.notation-blue i{
    color:#0065FC
}


.notation-grey i{
    color: #f2f2f2
}

.pop-card:hover > a >.pop-description > .notation > .notation-blue i{
    color: white;
}

.pop-card:hover > a > .pop-description> .notation > .notation-grey i{
    color: darkblue;
}

                    /* SECTION 3 "ACTIVITES" */


#cards{
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
    gap:24px;
}



.activites-cards{
    width:24%;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 25px;
}


.activites-cards:hover{
    border: 3px groove grey;
    transition:0.1s ease-in-out;
    cursor: pointer;
}

.activites-cards img{
    height:280px;
    width: 100%;
    object-fit:cover;
    border-radius: 25px 25px 0 0 ;
}

#activities h3{
    padding:5%
}
                    /* FOOTER */

footer {
    background-color: #f2f2f2;
    padding: 2%;
    display:flex;
    flex-direction: row;
    justify-content: space-around
}

.footer-list{ 
    width: 30%;
    display: flex;
    flex-direction: column;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer li{
    padding: 3% 0% 0% 0%;
}