body {
  padding: 32px 0px 0px 0px;
}

/* FONT SIZES & SETTINGS */
#activity-section,
#search-section {
  padding-bottom: 32px;
}

/* HEADER */

nav {
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}

header ul {
  gap: 0%;
  margin-top: 32px;
  width: 100%;
}

header li {
  display: flex;
  width: 100%;
}

header li a {
  width: 100%;
  border-bottom: 4px solid #f2f2f2;
  padding-bottom: 10%;
  text-align: center;
}

header li a:hover {
  padding: 0%;
}

/* SECTION 1 "RECHERCHE"*/

#searchfield {
  justify-content: center;
}

#search-section {
  margin: 0px 16px;
}

#search {
  display: none;
}

#magnifying-glass {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0px 16px 16px 0px;
  padding: 0% 2%;
  background-color: #0065fc;
  font-size: 22px;
  color: white;
}

#magnifying-glass i {
  color: white;
}

#magnifying-glass:hover {
  cursor: pointer;
}

#filterbar {
  flex-direction: column;
}

.filter-buttons {
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0%;
  width: 100%;
}

#filterbar .button {
  width: 40%;
  padding: 2.5% 1.5vw;
  font-size: 0.75rem;
}

#filterbar h2 {
  align-self: flex-start;
}

/* SECTION 2 "HEBERGEMENTS" & SECTION 3 "POPULAIRES"*/

#offers {
  flex-direction: column-reverse;
}

#offers-Marseille,
#offers-popular {
  flex-direction: column;
  align-items: center;
}

#popular-section,
#Marseille-section {
  border-radius: 0%;
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
}

/* Section 2 "Hébergements à Marseille*/

#Marseille-section {
  background-color: white;
}

.Marseille-card {
  width: 100%;
  height: 200px;
  padding: 0;
}

.Marseille-card img {
  height: 130px;
  object-fit: cover;
}

#more {
  display: none;
}

/* Section 3 "Les plus populaires"*/

#popular-section {
  padding-bottom: 48px;
}

#popular-section img {
  width: 30%;
  height: 130px;
  padding: 0;
}

.popular-card {
  width: 100%;
}

.popular-description {
  padding: 2%;
}

/* SECTION 4 "ACTIVITES" */

#activity-section {
  margin: 16px;
}

#activity-section h3 {
  padding: 0 0 0 16px;
}

#activities {
  flex-direction: column;
}

.activity-card {
  width: 100%;
  height: 200px;
}

.activity-card img {
  height: 150px;
}

/* FOOTER */

footer {
  flex-direction: column;
}

.footer-list {
  margin: 3%;
  margin-top: 0%;
  margin-bottom: 0%;
  width: 90%;
}

footer li {
  padding-top: 1%;
}

footer h2 {
  margin: 0%;
  padding: 24px 0px 10px 0px;
}
