body{
    overflow-x: hidden;
    margin:32px 0px 0px 0px;
    padding: 0%;
}



                    /* FONT SIZES & SETTINGS */

section, #searchbar {
    padding-bottom:32px;
}

                    /* HEADER */
                 
nav{
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
}

header ul{
    margin-top:32px;
    width: 100%;
    gap:0%;
}

header li{
    width:100%;
    display: flex;
    justify-content:center;
}

header li a{
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
    border-bottom: 4px solid #F2F2F2
}

header li a:hover{
    padding: 0%;
    padding-bottom: 0%;
}



                    /* SECTION 1 */

#searchfield{
    justify-content: center;
    margin-bottom: 16px;
}

#searchbar{
    margin: 0px 16px;
}

#research{
    display: none;
}

#magnifying-glass{
    display: flex;
    font-size: 22px;
    align-items: center;
    background-color: #0065FC;
    border-radius: 0px 16px 16px 0px;
    padding:0% 2%; 
    color:white;
    border:none;
}

#magnifying-glass i{
color: white;
}

#magnifying-glass:hover{
    cursor:pointer;
}

#filterbar{
    display: flex;
    flex-direction: column;
}

.filter-buttons{
    margin-left:0%;
    flex-wrap: wrap;
    justify-content: center;
}

#filterbar .button{
    font-size: 11px;
    width:33%;
    margin:1.5%;
    padding: 16px;
    font-weight: bold;
}

#filterbar h2{
    align-self: flex-start;
}

                    /* SECTIONS 2 ET 3 */

#offers{
    flex-direction: column-reverse;
    padding:0;
    margin:0;
}

#offers-main{
    background-color: white;
    border-radius: 0;
    padding:16px;
    box-sizing: border-box;
}

#offers-popular{
    flex-direction: column;
    align-items: center;
}

#popular{
    padding:16px 16px 48px 16px;
    box-sizing: border-box;
    border-radius: 0%;
    margin:0
}

#popular img{
    width:30%;
    height:130px;
    padding:0;
}

.pop-card{
    width: 100%;
}

#offers-Marseille{
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.Marseille-card{
    width:100%;
    height:200px;
    padding:0;
}

.Marseille-card img{
    height:130px;
    object-fit:cover;
}

#more{
    display: none;
}

                    /* SECTION 4 */

#activity-section{
    align-content: center;
    margin:16px;
    box-sizing: border-box;

}

#activity-section h3{
    padding:0 0 0 16px;
}

#cards{
    flex-direction: column; 
    }

.activity-card{
    width: 100%;
    height: 200px;
    }


.activity-card img{
    height:150px;
}


                    
                    /* FOOTER */

footer {
    margin:0px 16px;
    flex-direction: column;
}

.footer-list{ 
    width: 90%;
    margin:3%;
    margin-top: 0%;
    margin-bottom: 0%;
}

footer li{
    padding-top:1%;
}

footer h2{
    margin: 0%;
    padding-bottom: 10px;
    padding-top: 24px;
}