body {
  padding: 32px 32px 0px 32px;
}

/* FONT SIZES & SETTINGS */

p,
.notation i {
  font-size: 12px;
}

/* HEADER */

header ul a:hover {
  border-top: none;
  border-bottom: 2px solid #0065fc;
  padding-bottom: 16px;
}

/* SECTION 1 "RECHERCHE"*/

/* SECTION 2 "HEBERGEMENTS" & SECTION 3 "POPULAIRES"*/

#offers {
  flex-wrap: wrap;
}

#Marseille-section,
#popular-section {
  margin-left: 0;
  width: 100%;
}

/* Section 3 "Les plus populaires" */

#offers-popular {
  flex-direction: row;
  justify-content: space-between;
}

.popular-card {
  width: 32%;
  padding: 6px;
}

#popular-section img {
  width: 90px;
  height: 100%;
}
/* SECTION 4 "ACTIVITES" */

.activity-card {
  width: 22%;
}

.activity-card img {
  height: 210px;
}

/* FOOTER */
